.UpperBar {
  display: flex;
}

.Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 1660px;
  height: 140px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.TextField {
  /* input text - name */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 1660px;
  height: 50px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50px !important;
  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
