.Paper {
  height: 1080px;
  width: 60px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 10px, 5px, 10px, 5px;
  background: #003031 !important;
  margin-right: 10px;
}

.Icon {
  height: 30px;
  width: 30px;
  left: 15px;
  top: 380px;
  color: #863654 !important;
}

.Divider {
  color: #863654 !important;
}
